<div class="container">
<%= link_to  "Back to List", articles_path, class: "btn btn-xs btn-success" %>
<%= render  "shared/errors", obj: @article %>
  <%= form_for @article do |f| %>
    <div class="form-group">
      <%= f.label :Title %> 
      <%= f.text_field :title, class: "form-control", placeholder: "Article Title", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :Description %>
      <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-8">
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|%>
            <%= cb.label(class: "checkbox_inline input_check_box") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
        </div>
      </div>
    </div>
    <%= f.submit %>
  <% end %>
</div>

