<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <h1>Create New Category</h1>
    <hr/>
      <%= render  "shared/errors", obj: @category %>
      <%= form_for(@category, :html =>{class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <%= f.label :name %> 
          <%= f.text_field :name, class: "form-control", placeholder: "Category Name", autofocus: true %>
        </div>
        <%= f.submit class:'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
